  h1 {
      color: rgb(10, 10, 61);
      text-align: center;
  }
  
  .icon {
      transform: translate(140px);
      color: black;
  }
  
  .icon:hover {
      color: green
  }
  
  .musics {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  
  .music1:hover {
      box-shadow: 0 0 10px 3px rgb(124, 122, 122);
  }
  
  .music2:hover {
      box-shadow: 0 0 10px 3px rgb(124, 122, 122)
  }
  
  .music3:hover {
      box-shadow: 0 0 10px 3px rgb(124, 122, 122)
  }
  
  h2 {
      text-align: center;
      color: rgb(25, 20, 76)
  }
  
  h2:hover {
      color: rgb(0, 189, 82)
  }
  
  p {
      width: 300px;
      height: 200px;
  }